.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}

.item {
  height: auto;
  width: 250px;
  padding: 15px;
  border: 1px solid beige;
  border-radius: 30px;
}
